<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/style.css" />
		<title>Students List</title>
	</head>

	<body>
		<header>
			<h1>Students List</h1>
		</header>

		<main>
			<a href="/create" class="create-link">Create New Student</a>
			<br />
			<hr />

			<table class="student-table">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Institute</th>
					<th>Course</th>
				</tr>

				<% students.forEach(student => { %>
				<tr>
					<td><%= student.id %></td>
					<td><%= student.person.name %></td>
					<td><%= student.person.address %></td>
					<td><%= student.person.phone %></td>
					<td><%= student.person.email %></td>
					<td><%= student.institute.name %></td>
					<td><%= student.course.name %></td>

					<td>
						<a href="/<%= student.id %>/delete" class="delete-link">Delete</a>
					</td>
				</tr>
				<% }); %>
			</table>
		</main>
	</body>
</html>
